@media (max-width: 768px) {
  .navWebVContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    padding: 0 1rem;
    right: 2px;
  }

  .navWebVContainer img {
    width: 40px;
    padding: 0;
  }

  .hamburgerButton {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    background-color: rgba(148, 227, 227, 0.952) !important;
  }

  .hamburgerButton i {
    font-size: 14px;
  }

  .navWebVLinks {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 18%;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.76);
    border: 1px solid rgb(182, 182, 182);
    background-color: rgba(255, 255, 255, 0.705);
    z-index: 1;
  }

  .navWebVLinks ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navWebVLinks a {
    font-size: 14px;
  }

  .navWebVLinks li {
    margin: 3px;
  }

  .showMenu {
    margin-right: 5px;
    transform: translateY(5px);
    display: block;
    text-align: center;
  }
}
