.scroll-to-top {
    scroll-behavior: auto !important;
    scroll-margin-top: 0 !important;
}

.mainPrivacy {
    background-image: url("./b13.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainPrivacy h2 {
    text-align: center;
    padding: 10px 0px 40px 0px;
}

.privacySec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.privacyBoxes {
    width: 80%;
    padding-bottom: 20px;
    box-shadow: 0px 1px 0px rgba(56, 56, 56, 0.986);
}